body{
  background: #212231;
  min-width: 100vw;
  min-height: 100vh;
}

#main-heading{
  background-color: rgba(214, 214, 214, 0.123);
}

.container{
  color: white;
  width: 25%;
  text-align: center;
  margin: auto;
  border: white solid 2px;

}

.list-items{
  background: white;
  padding: 4px 0px;
  color: black;
  margin: 5px 10px;
}